<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head.ejs') %>
    <title>Add Blog</title>
</head>
<body class="bg-light d-flex flex-column min-vh-100">

<%- include('./components/navbarWithSearch.ejs') %>

<br>
<% if (locals.error) { %>
    <div class="alert alert-danger"><%= locals.error %></div>
<% } %>

<br>

<h1 class="display-4 fw-bold text-center mb-1">Add Blog</h1>

<br>

<form class="m-4" method="POST" action="/blog/add" enctype="multipart/form-data">

    <div class="form-floating">
        <input type="text" class="form-control" placeholder="Title" id="title" name="title" required>
        <label for="title">Title</label>
    </div>
    <br>

    <div class="mb-3">
        <label for="cover" class="form-label">Cover Image</label>
        <input class="form-control" type="file" id="cover" name="cover" accept="image/*" required>
        <div id="coverHelp" class="form-text">Image size should be less than 2 MB</div>
    </div>
    <br>

    <div class="form-floating">
        <textarea class="form-control" placeholder="Add Content" id="content" name="content" style="height: 420px" required></textarea>
        <label for="content">Blog Content</label>
    </div>
    <br>

    <button type="submit" class="btn btn-primary">Publish Blog</button>
</form>
<%- include('./components/footer.ejs') %>
<%- include('./components/scripts.ejs') %>
</body>
</html>